PySide6
pymongo
chromadb
weaviate-client
SpeechRecognition
edge-tts
pvporcupine
pyaudio
openai
mcp
langchain-mcp-adapters
langgraph-checkpoint-mongodb
loguru
langchain_google_genai
numpy
pyautogui
faster-whisper
