PySide6
pymongo
chromadb
weaviate-client
SpeechRecognition
edge-tts
pvporcupine
pyaudio
openai
langgraph-checkpoint-mongodb
loguru
langchain_google_genai
langchain_google-genai
numpy
pyautogui
faster-whisper
fastapi
uvicorn
python-telegram-bot
motor
agentmail
ddgs
langgraph-checkpoint-sqlite
